swagger: '2.0'
info:
  description: The analytics forecasting component makes future prediction based on past and present trends. It uses supervised machine learning techniques to learn the relationship between variables (input) at hand and the variable (the target) we want to forecast. For instance, this could be the forecast of a production line or the prediction of a daily building energy consumption.
  title: Component forecasting
  version: 1.3.5
host: 'europewest.services.azureml.net:443'
basePath: /subscriptions/d52d94fb0aba437ea15c6690c09ee921/services/
schemes:
  - https
paths:
  /a2195564c5ed4cc68c51b1bc1aaed6ca/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the input to the web service should be swagger or not
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: The format of the input to the web service
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_getModelInformation'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_getModelInformation'
      security:
        - api_key: []
      operationId: forecasting_getModelInformation_execute
      summary: 'forecasting_getModelInformation: This service returns model information on an existing prediction model that is securely stored on the Schneider Electric platform.'
  /5123d43dbcc247319abdf617182e4c36/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the input to the web service should be swagger or not
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: The format of the input to the web service
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_createModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_createModel'
      security:
        - api_key: []
      operationId: forecasting_createModel_execute
      summary: |-
        forecasting_createModel: The `createModel` web service creates a forecasting model. The created forecasting model uses information available from driver measurements and process parameters to model the relationship between the drivers and the target we wish to forecast. 

        The principle of this service is the following:

        *  Historical training data depicting how a system works is available.

        *  A target variable, i.e., data of special importance for which we want to build a forecasting model, is known.

        *  Some pattern in the data is suspected, i.e. some relationship between some of the available data and the target can be observed.

        *  This pattern can be used to create a forecasting model to generate predictions.
  /5144ec09d72244e5b37df62c02debb95/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the input to the web service should be swagger or not
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: The format of the input to the web service
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_applyModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_applyModel'
      security:
        - api_key: []
      operationId: forecasting_applyModel_execute
      summary: 'forecasting_applyModel: The `applyModel` service can be used to apply an existing forecasting model to new data. A request-response example to consume the `applyModel` web service (in Swagger and non-Swagger format) can be seen below.'
  /8f62b92d24c94d96a8176d9972deb3b1/execute:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - default: '2.0'
          description: The API version to use
          enum:
            - '2.0'
          in: query
          name: api-version
          required: true
          type: string
        - default: swagger
          description: Specify if the format of the input to the web service should be swagger or not
          enum:
            - swagger
          in: query
          name: format
          required: false
          type: string
        - description: The format of the input to the web service
          enum:
            - true
          in: query
          name: detailed
          required: false
          type: string
        - description: Execution request
          in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest_forecasting_updateModel'
      responses:
        '200':
          description: Execution results
          schema:
            $ref: '#/definitions/ExecutionResults_forecasting_updateModel'
      security:
        - api_key: []
      operationId: forecasting_updateModel_execute
      summary: 'forecasting_updateModel: This service updates an existing model created with the `createModel` web service. The input should include the same variables as the ones used to create the already available prediction model. Outputs of this service include the updated model ID (whereas the updated model is created with past and updated data), and the same output information as provided in the `createModel` service. '
definitions:
  ExecutionInputs_forecasting_applyModel:
    properties:
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_applyModel'
        type: array
      testDataset:
        items:
          $ref: '#/definitions/testDatasetItem_forecasting_applyModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_createModel:
    properties:
      trainDataset:
        description: |-
          As input, the `createModel` web service takes a single data-frame in JSON format. It must include a `datetime` column with the time-stamp of observations. Note that the time-stamps can be given in any standard  ISO 8601 formats, but any output will convert the given format into the following: *2018-03-22T10:39:19Z*. The `target` column includes the (numeric) observations of the variable for which a prediction model is created. Moreover, the data-frame has to include 15 additional columns `att01,att02,..,att15` with numeric observations of the driver variables (the final drivers used to build the model can be defined by the user through one of the parameters). Missing observations should be included as `NaN` values. The API enforces a strict schema, therefore all variables should be present with their name as shown in the Request-Response example and no modifications in the column names can be done. If you have less than 15 drivers, then you should include the additional drivers, fill them with `NaN` or random values and make sure to remove them from the `normalDriverName` parameter. As such, they will not be used by the API. 

          An **example input data-frame** can be seen below:

          | datetime                     | target | att01 | att02 | att03 | ...  | att15 |
          | ---------------------------- | ------ | ----- | ----- | ----- | :--: | ----- |
          | 2015-10-08T08:00:00.000+0200 | 47.0   | 50.40 | 25.93 | 25.93 | ...  | 50.40 |
          | 2015-10-08T08:30:00.000+0200 | 46.0   | 40.96 | NaN   | 12.10 | ...  | 40.96 |
          | 2015-10-08T09:00:00.000+0200 | 45.0   | 43.55 | 25.70 | 25.70 | ...  | 43.55 |
          | 2015-10-08T09:30:00.000+0200 | 45.0   | 50.40 | NaN   | 11.10 | ...  | 50.40 |
          | 2015-10-08T10:00:00.000+0200 | 45.0   | 53.29 | 25.61 | 25.61 | ...  | 53.29 |
          | 2015-10-08T10:30:00.000+0200 | 46.0   | 67.23 | NaN   | 67.23 | ...  | 67.23 |
          | 2015-10-08T11:00:00.000+0200 | 47.0   | 84.63 | 25.61 | 25.61 | ...  | 84.63 |
          | 2015-10-08T11:30:00.000+0200 | 48.0   | 92.16 | NaN   | 15.2  | ...  | 92.16 |
          | 2015-10-08T12:00:00.000+0200 | 48.0   | 67.23 | 25.80 | 25.80 | ...  | 67.23 |
        items:
          $ref: '#/definitions/trainDatasetItem_forecasting_createModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_getModelInformation:
    properties:
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_getModelInformation'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionInputs_forecasting_updateModel:
    description: |-
      As input, this service needs the model ID (i.e., the secure location in the Schneider Electric platform) of the existing forecasting model for which information is supposed to be retrieved in form of a data-table in JSON format. 
       The service also require new data to use to update the model in the same format than for the `createModel` service. 
       **WARNING**: the new data should NOT contains datetime already used in `createModel` service.
    properties:
      additionalTrainingData:
        items:
          $ref: '#/definitions/additionalTrainingDataItem_forecasting_updateModel'
        type: array
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_updateModel'
        type: array
    title: Execution inputs definition
    type: object
  ExecutionOutputs_forecasting_applyModel:
    description: |-
      Result dataset with the following columns :

       - prediction columns:
        -  `target`
        -  `datetime`
        - `PREDICTED_<target_name>_t+X` if `realign_forecast_on_horizon` is False
        - `PREDICTED_<target_name>_t+X_AGO` if `realign_forecast_on_horizon` is True
        - `PREDICTED_consumption_rate_t_BEST` if `realign_forecast_on_horizon` is True
              
      **Note 1** X is from 1 to `<nbr_time_step>` to horizon. ex: if horizon in 24 hours and training dataset has a time step of 1 hours: X will be 1,2, ..., 24
              
      **Note 2** if the error correction failed, the output dataframe will contains only one prediction columns corresponding to X = `<nbr_time_step>` to horizon.
              
      **Note 3** `PREDICTED_consumption_rate_t_BEST` correspond to the best forecast available for this time step. ie `PREDICTED_<target_name>_t+1_AGO` if available, else `PREDICTED_<target_name>_t+2_AGO` if available, else `PREDICTED_<target_name>_t+3_AGO` ...
            
      - additional columns containing diagnostics information:
        - `invalidInput` contains a boolean that is True whenever an input was invalid (outside of its training range +/- 5%)
        - `invalidInputVariableNames` contains a string containing the names of variables outside their training range
        - `nanInput`: whether one of the driver or the target was missing
        - `invalidPredition` contains a boolean that is True whenever a prediction is invalid (outside of its training range +/- 5%)
        - `minConfident2Sigma` : Minimum prediction confidence interval within two standard deviation.
        - `maxConfident2Sigma` : Maximum prediction confidence interval within two standard deviation.
        - `minConfident3Sigma` : Minimum prediction confidence interval within three standard deviation.
        - `maxConfident3Sigma` : Maximum prediction confidence interval within three standard deviation.
      - Input columns if `join_results_to_df` is True
    properties:
      appliedModelOutput:
        items:
          $ref: '#/definitions/appliedModelOutputItem_forecasting_applyModel'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionOutputs_forecasting_createModel:
    properties:
      diagInfo:
        description: |
          a data-frame summary including relevant information of the created model. 

            An example table of the provided output can be seen below:

          | phase_id                     | property                       | value                      |
          | ---------------------------- | ------------------------------ | -------------------------- |
          | data_validation              | start_time                     | 2018-05-02 09:56:05.936818 |
          | data_validation              | nb_observations                | 31560                      |
          | data_validation              | nb_columns                     | 10                         |
          | data_validation              | nb_cells                       | 315600                     |
          | data_validation              | nb_missing_values              | 31340                      |
          | data_validation              | columns_with_missing_values    |                            |
          | data_validation              | was_datetime_sorted            | True                       |
          | data_validation              | sampling_period_ms             |                            |
          | data_validation              | end_time                       | 2018-05-02 09:56:06.006818 |
          | data_validation              | elapsed_seconds                | 0.07                       |
          | preprocessing                | start_time                     | 2018-05-02 09:56:06.006818 |
          | preprocessing                | non_selected_columns           | flag                       |
          | preprocessing                | remaining_renamed_columns      |                            |
          | preprocessing                | nb_rows_in_off_state_removed   | 15777                      |
          | preprocessing                | end_time                       | 2018-05-02 09:56:06.086818 |
          | preprocessing                | elapsed_seconds                | 0.08                       |
          | preprocessing_model_specific | start_time                     | 2018-05-02 09:56:06.086818 |
          | preprocessing_model_specific | nb_removed_constant_attributes | 0                          |
          | preprocessing_model_specific | removed_constant_attributes    |                            |
          | preprocessing_model_specific | nb_observations                | 261                        |
          | preprocessing_model_specific | nb_input_variables_for_model   | 6                          |
          | preprocessing_model_specific | rows_columns_ratio             | 43.5                       |
          | preprocessing_model_specific | has_sufficient_nb_observations | True                       |
          | preprocessing_model_specific | end_time                       | 2018-05-02 09:56:06.106818 |
          | preprocessing_model_specific | elapsed_seconds                | 0.02                       |
          | training                     | start_time                     | 2018-05-02 09:56:06.106818 |
          | training                     | end_time                       | 2018-05-02 09:56:06.136818 |
          | training                     | elapsed_seconds                | 0.03                       |
          | performance_evaluation       | start_time                     | 2018-05-02 09:56:06.136818 |
          | performance_evaluation       | temporary_train_set_size       | 209                        |
          | performance_evaluation       | temporary_test_set_size        | 52                         |
          | performance_evaluation       | split_method                   | split-last                 |
          | performance_evaluation       | end_time                       | 2018-05-02 09:56:13.184830 |
          | performance_evaluation       | elapsed_seconds                | 7.048012                   |
        items:
          $ref: '#/definitions/diagInfoItem_forecasting_createModel'
        type: array
      driversUsage:
        description: |-
          summarize information on the driver usage to create the model.

          | driver_name  | time_shift_used_for_prediction | driver_importance | driver_type |
          | ------------ | ------------------------------ | ----------------- | ----------- |
          | DRIVER_att01 | 0                              | 1.0               | normal      |
          | DRIVER_att02 | 0                              | 1.0               | normal      |
          | DRIVER_att03 | 0                              | 1.0               | normal      |
          | DRIVER_att04 | 0                              | 1.0               | normal      |
          | DRIVER_att05 | 0                              | 1.0               | normal      |
          | DRIVER_att06 | 0                              | 1.0               | normal      |
        items:
          $ref: '#/definitions/driversUsageItem_forecasting_createModel'
        type: array
      driversUsed:
        description: |-
          summarize information on the driver variables 

          | driver_name | driver_ type | max_ value | mean_  value | min_ value | reason | std_value | used_in_model |
          | ----------- | ------------ | ---------- | ------------ | ---------- | ------ | --------- | ------------- |
          | att01       | normal       | 47.55      | 46.46        | 43.20      |        | 1.58      | TRUE          |
          | att02       | normal       | 15.33      | 14.79        | 13.33      |        | 0.35      | TRUE          |
          | att03       | normal       | 53.85      | 50.43        | 47.20      |        | 1.33      | TRUE          |
          | att04       | normal       | 42.50      | 39.18        | 35.70      |        | 1.38      | TRUE          |
          | att05       | normal       | 32.40      | 30.85        | 29.20      |        | 0.65      | TRUE          |
          | att06       | normal       | 82.70      | 58.35        | 49.30      |        | 3.30      | TRUE          |
        items:
          $ref: '#/definitions/driversUsedItem_forecasting_createModel'
        type: array
      modelErrorStatistics:
        description: |
          define the distribution of the prediction errors. 

            An example table of the provided output can be seen below:

          | variable | queue | dataset  | nb_folds | nb_boostrap | value   |
          | -------- | ----- | -------- | -------- | ----------- | ------- |
          | IQR      | No    | training | 1        | 100         | 0.2933  |
          | IQR      | Yes   | training | 1        | 100         | 0.3220  |
          | mean     | No    | training | 1        | 100         | -0.0013 |
          | mean     | Yes   | training | 1        | 100         | 0.0010  |
          | stdev    | No    | training | 1        | 100         | 0.2009  |
          | stdev    | Yes   | training | 1        | 100         | 0.2316  |
          | IQR      | No    | test     | 1        | 100         | 0.1917  |
          | IQR      | Yes   | test     | 1        | 100         | 0.2007  |
          | mean     | No    | test     | 1        | 100         | 0.1073  |
          | mean     | Yes   | test     | 1        | 100         | 0.1098  |
          | stdev    | No    | test     | 1        | 100         | 0.1320  |
          | stdev    | Yes   | test     | 1        | 100         | 0.1750  |
        items:
          $ref: '#/definitions/modelErrorStatisticsItem_forecasting_createModel'
        type: array
      modelID:
        description: 'Represents the identification of the created model, which is securely stored on the Schneider Electric platform. This ID can be used to retrieve the model created in the createModel service.'
        items:
          $ref: '#/definitions/modelIDItem_forecasting_createModel'
        type: array
      modelInformation:
        description: |
          summarizes relevant model properties.

            An example table of the provided output can be seen below:

          | property                       | value                      |
          | ------------------------------ | -------------------------- |
          | creation_date                  | 2018-05-02 09:56:06.106818 |
          | has_sufficient_nb_observations | True                       |
          | initial_model_creation_date    | 2018-05-02 09:56:06.106818 |
          | max_prediction                 | 0                          |
          | min_prediction                 | 0                          |
          | nb_drivers_used_in_model       | 0                          |
          | nb_observations_testing        | 0                          |
          | nb_observations_total          | 0                          |
          | nb_observations_training       | 0                          |
          | ts_uniform_sampling_period_ms  | 0                          |
        items:
          $ref: '#/definitions/modelInformationItem_forecasting_createModel'
        type: array
      modelPerformance:
        description: |-
          includes different performance metrics of the test and training sets, such as the mean absolute error, the normalized absolute error, etc.

            An example table of the provided output can be seen below:

            | indicatorName                      | dataset  | value               |
            | ---------------------------------- | -------- | ------------------- |
            | mean_absolute_error                | training | 0.1874              |
            | root_mean_squared_error            | training | 0.2319917           |
            | normalized_mean_absolute_error     | training | 0.0253755           |
            | relative_error                     | training | 0.0254059916        |
            | relative_error_lenient             | training | 0.02452284036       |
            | relative_error_strict              | training | 0.0258087           |
            | normalized_root_mean_squared_error | training | 0.03204602498456187 |
            | relative_absolute_error            | training | 0.737781268         |
            | root_relative_squared_error        | training | 0.7373640686543463  |
            | r_squared                          | training | 0.4560837           |
            | mean_absolute_error                | test     | 0.161033            |
            | root_mean_squared_error            | test     | 0.20663             |
            | normalized_mean_absolute_error     | test     | 0.0225436734        |
            | relative_error                     | test     | 0.02277708872       |
            | relative_error_lenient             | test     | 0.022040115         |
            | relative_error_strict              | test     | 0.02284             |
            | normalized_root_mean_squared_error | test     | 0.02899             |
            | relative_absolute_error            | test     | 0.82132271          |
            | root_relative_squared_error        | test     | 0.85856834          |
            | r_squared                          | test     | 0.262862            |
        items:
          $ref: '#/definitions/modelPerformanceItem_forecasting_createModel'
        type: array
      predictionConfidenceIntervals:
        description: |
          summarize the differences of real and predicted values under the consideration of different significance levels.

           An example table of the provided output can be seen below:

          | scale    | tails    | dataset  | nb_folds | nb_bootstrap | significance_level | value | std   |
          | -------- | -------- | -------- | -------- | ------------ | ------------------ | ----- | ----- |
          | Relative | Positive | training | 1        | 100          | 0.05               | 0.072 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.05               | 0.051 | 0.005 |
          | Relative | Both     | training | 1        | 100          | 0.05               | 0.065 | 0.005 |
          | Absolute | Positive | training | 1        | 100          | 0.05               | 0.482 | 0.042 |
          | Absolute | Negative | training | 1        | 100          | 0.05               | 0.399 | 0.036 |
          | Absolute | Both     | training | 1        | 100          | 0.05               | 0.455 | 0.026 |
          | Relative | Positive | training | 1        | 100          | 0.1                | 0.062 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.1                | 0.044 | 0.003 |
          | Relative | Both     | training | 1        | 100          | 0.1                | 0.051 | 0.004 |
          | Absolute | Positive | training | 1        | 100          | 0.1                | 0.427 | 0.044 |
          | Absolute | Negative | training | 1        | 100          | 0.1                | 0.335 | 0.027 |
          | Absolute | Both     | training | 1        | 100          | 0.1                | 0.373 | 0.034 |
          | Relative | Positive | test     | 1        | 100          | 0.05               | 0.056 | 0.017 |
          | Relative | Negative | test     | 1        | 100          | 0.05               | 0.032 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.05               | 0.052 | 0.011 |
          | Absolute | Positive | test     | 1        | 100          | 0.05               | 0.364 | 0.079 |
          | Absolute | Negative | test     | 1        | 100          | 0.05               | 0.254 | 0.058 |
          | Absolute | Both     | test     | 1        | 100          | 0.05               | 0.348 | 0.055 |
          | Relative | Positive | test     | 1        | 100          | 0.1                | 0.046 | 0.009 |
          | Relative | Negative | test     | 1        | 100          | 0.1                | 0.031 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.1                | 0.043 | 0.005 |
          | Absolute | Positive | test     | 1        | 100          | 0.1                | 0.315 | 0.054 |
          | Absolute | Negative | test     | 1        | 100          | 0.1                | 0.222 | 0.059 |
          | Absolute | Both     | test     | 1        | 100          | 0.1                | 0.306 | 0.056 |
        items:
          $ref: '#/definitions/predictionConfidenceIntervalsItem_forecasting_createModel'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionOutputs_forecasting_getModelInformation:
    properties:
      diagInfo:
        description: |
          a data-frame summary including relevant information of the created model. 

            An example table of the provided output can be seen below:

          | phase_id                     | property                       | value                      |
          | ---------------------------- | ------------------------------ | -------------------------- |
          | data_validation              | start_time                     | 2018-05-02 09:56:05.936818 |
          | data_validation              | nb_observations                | 31560                      |
          | data_validation              | nb_columns                     | 10                         |
          | data_validation              | nb_cells                       | 315600                     |
          | data_validation              | nb_missing_values              | 31340                      |
          | data_validation              | columns_with_missing_values    |                            |
          | data_validation              | was_datetime_sorted            | True                       |
          | data_validation              | sampling_period_ms             |                            |
          | data_validation              | end_time                       | 2018-05-02 09:56:06.006818 |
          | data_validation              | elapsed_seconds                | 0.07                       |
          | preprocessing                | start_time                     | 2018-05-02 09:56:06.006818 |
          | preprocessing                | non_selected_columns           | flag                       |
          | preprocessing                | remaining_renamed_columns      |                            |
          | preprocessing                | nb_rows_in_off_state_removed   | 15777                      |
          | preprocessing                | end_time                       | 2018-05-02 09:56:06.086818 |
          | preprocessing                | elapsed_seconds                | 0.08                       |
          | preprocessing_model_specific | start_time                     | 2018-05-02 09:56:06.086818 |
          | preprocessing_model_specific | nb_removed_constant_attributes | 0                          |
          | preprocessing_model_specific | removed_constant_attributes    |                            |
          | preprocessing_model_specific | nb_observations                | 261                        |
          | preprocessing_model_specific | nb_input_variables_for_model   | 6                          |
          | preprocessing_model_specific | rows_columns_ratio             | 43.5                       |
          | preprocessing_model_specific | has_sufficient_nb_observations | True                       |
          | preprocessing_model_specific | end_time                       | 2018-05-02 09:56:06.106818 |
          | preprocessing_model_specific | elapsed_seconds                | 0.02                       |
          | training                     | start_time                     | 2018-05-02 09:56:06.106818 |
          | training                     | end_time                       | 2018-05-02 09:56:06.136818 |
          | training                     | elapsed_seconds                | 0.03                       |
          | performance_evaluation       | start_time                     | 2018-05-02 09:56:06.136818 |
          | performance_evaluation       | temporary_train_set_size       | 209                        |
          | performance_evaluation       | temporary_test_set_size        | 52                         |
          | performance_evaluation       | split_method                   | split-last                 |
          | performance_evaluation       | end_time                       | 2018-05-02 09:56:13.184830 |
          | performance_evaluation       | elapsed_seconds                | 7.048012                   |
        items:
          $ref: '#/definitions/diagInfoItem_forecasting_getModelInformation'
        type: array
      driversUsage:
        description: |-
          summarize information on the driver usage to create the model.

          | driver_name  | time_shift_used_for_prediction | driver_importance | driver_type |
          | ------------ | ------------------------------ | ----------------- | ----------- |
          | DRIVER_att01 | 0                              | 1.0               | normal      |
          | DRIVER_att02 | 0                              | 1.0               | normal      |
          | DRIVER_att03 | 0                              | 1.0               | normal      |
          | DRIVER_att04 | 0                              | 1.0               | normal      |
          | DRIVER_att05 | 0                              | 1.0               | normal      |
          | DRIVER_att06 | 0                              | 1.0               | normal      |
        items:
          $ref: '#/definitions/driversUsageItem_forecasting_getModelInformation'
        type: array
      driversUsed:
        description: |-
          summarize information on the driver variables 

          | driver_name | driver_ type | max_ value | mean_  value | min_ value | reason | std_value | used_in_model |
          | ----------- | ------------ | ---------- | ------------ | ---------- | ------ | --------- | ------------- |
          | att01       | normal       | 47.55      | 46.46        | 43.20      |        | 1.58      | TRUE          |
          | att02       | normal       | 15.33      | 14.79        | 13.33      |        | 0.35      | TRUE          |
          | att03       | normal       | 53.85      | 50.43        | 47.20      |        | 1.33      | TRUE          |
          | att04       | normal       | 42.50      | 39.18        | 35.70      |        | 1.38      | TRUE          |
          | att05       | normal       | 32.40      | 30.85        | 29.20      |        | 0.65      | TRUE          |
          | att06       | normal       | 82.70      | 58.35        | 49.30      |        | 3.30      | TRUE          |
        items:
          $ref: '#/definitions/driversUsedItem_forecasting_getModelInformation'
        type: array
      modelErrorStatistics:
        description: |
          define the distribution of the prediction errors. 

            An example table of the provided output can be seen below:

          | variable | queue | dataset  | nb_folds | nb_boostrap | value   |
          | -------- | ----- | -------- | -------- | ----------- | ------- |
          | IQR      | No    | training | 1        | 100         | 0.2933  |
          | IQR      | Yes   | training | 1        | 100         | 0.3220  |
          | mean     | No    | training | 1        | 100         | -0.0013 |
          | mean     | Yes   | training | 1        | 100         | 0.0010  |
          | stdev    | No    | training | 1        | 100         | 0.2009  |
          | stdev    | Yes   | training | 1        | 100         | 0.2316  |
          | IQR      | No    | test     | 1        | 100         | 0.1917  |
          | IQR      | Yes   | test     | 1        | 100         | 0.2007  |
          | mean     | No    | test     | 1        | 100         | 0.1073  |
          | mean     | Yes   | test     | 1        | 100         | 0.1098  |
          | stdev    | No    | test     | 1        | 100         | 0.1320  |
          | stdev    | Yes   | test     | 1        | 100         | 0.1750  |
        items:
          $ref: '#/definitions/modelErrorStatisticsItem_forecasting_getModelInformation'
        type: array
      modelID:
        description: 'Represents the identification of the created model, which is securely stored on the Schneider Electric platform. This ID can be used to retrieve the model created in the createModel service.'
        items:
          $ref: '#/definitions/modelIDItem_forecasting_getModelInformation'
        type: array
      modelInformation:
        description: |
          summarizes relevant model properties.

            An example table of the provided output can be seen below:

          | property                       | value                      |
          | ------------------------------ | -------------------------- |
          | creation_date                  | 2018-05-02 09:56:06.106818 |
          | has_sufficient_nb_observations | True                       |
          | initial_model_creation_date    | 2018-05-02 09:56:06.106818 |
          | max_prediction                 | 0                          |
          | min_prediction                 | 0                          |
          | nb_drivers_used_in_model       | 0                          |
          | nb_observations_testing        | 0                          |
          | nb_observations_total          | 0                          |
          | nb_observations_training       | 0                          |
          | ts_uniform_sampling_period_ms  | 0                          |
        items:
          $ref: '#/definitions/modelInformationItem_forecasting_getModelInformation'
        type: array
      modelPerformance:
        description: |-
          includes different performance metrics of the test and training sets, such as the mean absolute error, the normalized absolute error, etc.

            An example table of the provided output can be seen below:

            | indicatorName                      | dataset  | value               |
            | ---------------------------------- | -------- | ------------------- |
            | mean_absolute_error                | training | 0.1874              |
            | root_mean_squared_error            | training | 0.2319917           |
            | normalized_mean_absolute_error     | training | 0.0253755           |
            | relative_error                     | training | 0.0254059916        |
            | relative_error_lenient             | training | 0.02452284036       |
            | relative_error_strict              | training | 0.0258087           |
            | normalized_root_mean_squared_error | training | 0.03204602498456187 |
            | relative_absolute_error            | training | 0.737781268         |
            | root_relative_squared_error        | training | 0.7373640686543463  |
            | r_squared                          | training | 0.4560837           |
            | mean_absolute_error                | test     | 0.161033            |
            | root_mean_squared_error            | test     | 0.20663             |
            | normalized_mean_absolute_error     | test     | 0.0225436734        |
            | relative_error                     | test     | 0.02277708872       |
            | relative_error_lenient             | test     | 0.022040115         |
            | relative_error_strict              | test     | 0.02284             |
            | normalized_root_mean_squared_error | test     | 0.02899             |
            | relative_absolute_error            | test     | 0.82132271          |
            | root_relative_squared_error        | test     | 0.85856834          |
            | r_squared                          | test     | 0.262862            |
        items:
          $ref: '#/definitions/modelPerformanceItem_forecasting_getModelInformation'
        type: array
      predictionConfidenceIntervals:
        description: |
          summarize the differences of real and predicted values under the consideration of different significance levels.

           An example table of the provided output can be seen below:

          | scale    | tails    | dataset  | nb_folds | nb_bootstrap | significance_level | value | std   |
          | -------- | -------- | -------- | -------- | ------------ | ------------------ | ----- | ----- |
          | Relative | Positive | training | 1        | 100          | 0.05               | 0.072 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.05               | 0.051 | 0.005 |
          | Relative | Both     | training | 1        | 100          | 0.05               | 0.065 | 0.005 |
          | Absolute | Positive | training | 1        | 100          | 0.05               | 0.482 | 0.042 |
          | Absolute | Negative | training | 1        | 100          | 0.05               | 0.399 | 0.036 |
          | Absolute | Both     | training | 1        | 100          | 0.05               | 0.455 | 0.026 |
          | Relative | Positive | training | 1        | 100          | 0.1                | 0.062 | 0.006 |
          | Relative | Negative | training | 1        | 100          | 0.1                | 0.044 | 0.003 |
          | Relative | Both     | training | 1        | 100          | 0.1                | 0.051 | 0.004 |
          | Absolute | Positive | training | 1        | 100          | 0.1                | 0.427 | 0.044 |
          | Absolute | Negative | training | 1        | 100          | 0.1                | 0.335 | 0.027 |
          | Absolute | Both     | training | 1        | 100          | 0.1                | 0.373 | 0.034 |
          | Relative | Positive | test     | 1        | 100          | 0.05               | 0.056 | 0.017 |
          | Relative | Negative | test     | 1        | 100          | 0.05               | 0.032 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.05               | 0.052 | 0.011 |
          | Absolute | Positive | test     | 1        | 100          | 0.05               | 0.364 | 0.079 |
          | Absolute | Negative | test     | 1        | 100          | 0.05               | 0.254 | 0.058 |
          | Absolute | Both     | test     | 1        | 100          | 0.05               | 0.348 | 0.055 |
          | Relative | Positive | test     | 1        | 100          | 0.1                | 0.046 | 0.009 |
          | Relative | Negative | test     | 1        | 100          | 0.1                | 0.031 | 0.008 |
          | Relative | Both     | test     | 1        | 100          | 0.1                | 0.043 | 0.005 |
          | Absolute | Positive | test     | 1        | 100          | 0.1                | 0.315 | 0.054 |
          | Absolute | Negative | test     | 1        | 100          | 0.1                | 0.222 | 0.059 |
          | Absolute | Both     | test     | 1        | 100          | 0.1                | 0.306 | 0.056 |
        items:
          $ref: '#/definitions/predictionConfidenceIntervalsItem_forecasting_getModelInformation'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionOutputs_forecasting_updateModel:
    description: '  The output of this service is the same as the one described for the `createModel` service. Note that a new **modelID** will be returned to represent the identification of the updated model, which is securely stored on the Schneider Electric platform. '
    properties:
      diagInfo:
        items:
          $ref: '#/definitions/diagInfoItem_forecasting_updateModel'
        type: array
      driversUsageDetails:
        items:
          $ref: '#/definitions/driversUsageDetailsItem_forecasting_updateModel'
        type: array
      driversUsed:
        items:
          $ref: '#/definitions/driversUsedItem_forecasting_updateModel'
        type: array
      modelErrorStatistics:
        items:
          $ref: '#/definitions/modelErrorStatisticsItem_forecasting_updateModel'
        type: array
      modelID:
        items:
          $ref: '#/definitions/modelIDItem_forecasting_updateModel'
        type: array
      modelInformation:
        items:
          $ref: '#/definitions/modelInformationItem_forecasting_updateModel'
        type: array
      modelPerformance:
        items:
          $ref: '#/definitions/modelPerformanceItem_forecasting_updateModel'
        type: array
      predictionConfidenceIntervals:
        items:
          $ref: '#/definitions/predictionConfidenceIntervalsItem_forecasting_updateModel'
        type: array
    title: Execution outputs definition
    type: object
  ExecutionRequest_forecasting_applyModel:
    example:
      GlobalParameters:
        joinPredictionToData: true
        realignForecastOnHorizon: true
      Inputs:
        modelID:
          - modelID: ''
        testDataset:
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 4
            att05: 0.69459271066772
            att06: -3.93923101204883
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T03:00:00+00:00'
            target: 1865
          - att01: 17.8
            att02: 17.2
            att03: 0.97
            att04: 2.7
            att05: -0.923454386979305
            att06: -2.5371700761219502
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T04:00:00+00:00'
            target: 1947
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.6
            att05: -1.8
            att06: -3.1176914536239795
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T05:00:00+00:00'
            target: 1788
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.1
            att05: -1.99264159002827
            att06: -2.37473777366883
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T06:00:00+00:00'
            target: 1727
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.6
            att05: -1.8
            att06: -3.1176914536239795
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T07:00:00+00:00'
            target: 1725
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 2.7
            att05: -1.35
            att06: -2.33826859021798
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T08:00:00+00:00'
            target: 1732
          - att01: 19
            att02: 16
            att03: 0.84
            att04: 3.6
            att05: -2.75775999522832
            att06: -2.31403539487154
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T09:00:00+00:00'
            target: 1782
          - att01: 20
            att02: 15
            att03: 0.73
            att04: 4.5
            att05: -3.4471999940354
            att06: -2.8925442435894304
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T10:00:00+00:00'
            target: 1778
          - att01: 20
            att02: 14
            att03: 0.68
            att04: 6.3
            att05: -5.45596004384196
            att06: -3.15
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T11:00:00+00:00'
            target: 1815
          - att01: 21
            att02: 14
            att03: 0.64
            att04: 6.7
            att05: -5.802370205355741
            att06: -3.35
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T12:00:00+00:00'
            target: 1717
          - att01: 18
            att02: 16
            att03: 0.9
            att04: 6.7
            att05: -5.13249776889715
            att06: -4.30667698489981
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T13:00:00+00:00'
            target: 1752
          - att01: 20
            att02: 16
            att03: 0.78
            att04: 5.4
            att05: -4.67653718043597
            att06: -2.7
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T14:00:00+00:00'
            target: 1774
          - att01: 22
            att02: 16
            att03: 0.68
            att04: 4
            att05: -3.46410161513775
            att06: -2
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T15:00:00+00:00'
            target: 1812
          - att01: 22
            att02: 15
            att03: 0.64
            att04: 6.3
            att05: -5.45596004384196
            att06: -3.15
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T16:00:00+00:00'
            target: 1760
          - att01: 21
            att02: 14
            att03: 0.64
            att04: 6.7
            att05: -5.13249776889715
            att06: -4.30667698489981
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T17:00:00+00:00'
            target: 1750
          - att01: 18
            att02: 14
            att03: 0.78
            att04: 6.7
            att05: 2.29153496028198
            att06: -6.29594055926559
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T18:00:00+00:00'
            target: 1695
          - att01: 16
            att02: 13
            att03: 0.81
            att04: 3.6
            att05: 0.625133439600948
            att06: -3.54530791084395
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T19:00:00+00:00'
            target: 1725
          - att01: 15
            att02: 11
            att03: 0.78
            att04: 3.1
            att05: -1.0602624443095698
            att06: -2.91304712443632
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T20:00:00+00:00'
            target: 1718
          - att01: 15
            att02: 12
            att03: 0.84
            att04: 1.3
            att05: -0.835623892592501
            att06: -0.995857776054671
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T21:00:00+00:00'
            target: 1723
          - att01: 15
            att02: 11
            att03: 0.78
            att04: 2.7
            att05: -2.65898093313296
            att06: -0.468850079700712
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T22:00:00+00:00'
            target: 1703
          - att01: 16
            att02: 10
            att03: 0.67
            att04: 5.8
            att05: -3.7281681361819303
            att06: -4.44305777009007
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T23:00:00+00:00'
            target: 1755
          - att01: 15
            att02: 9
            att03: 0.67
            att04: 5.8
            att05: -4.44305777009007
            att06: -3.7281681361819303
            att07: 0
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-05T00:00:00+00:00'
            target: 1866
    properties:
      GlobalParameters:
        $ref: '#/definitions/GlobalParameters_forecasting_applyModel'
      Inputs:
        $ref: '#/definitions/ExecutionInputs_forecasting_applyModel'
    title: Execution request
  ExecutionRequest_forecasting_createModel:
    example:
      GlobalParameters:
        datetimeName: datetime
        forecastDriverNames: att06,att07
        forecastDriversPastWindowLengthMs: 0
        normalDriverNames: att01,att02,att03,att04,att05
        normalDriversPastSamplingPeriod: 3600000
        normalDriversPastWindowLength: 3600000
        predictionTimeHorizonMs: 3600000
        targetName: target
        testDataRatio: 0.2
        throwErrorOnMissingValues: false
        updateable: true
        useTargetAsNormalDriver: false
      Inputs:
        trainDataset:
          - att01: 16
            att02: 10
            att03: 0.67
            att04: 4.5
            att05: 2.8925442435894304
            att06: 3.4471999940354
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-08-31T22:00:00+00:00'
            target: 1740.0001
          - att01: 16
            att02: 10
            att03: 0.67
            att04: 5.4
            att05: 3.47105309230731
            att06: 4.13663999284248
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-08-31T23:00:00+00:00'
            target: 1803
          - att01: 16
            att02: 10
            att03: 0.67
            att04: 2.2
            att05: 1.90525588832577
            att06: 1.1
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T00:00:00+00:00'
            target: 1935
          - att01: 15
            att02: 10
            att03: 0.72
            att04: 3.6
            att05: 3.1176914536239795
            att06: 1.8
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T01:00:00+00:00'
            target: 1853
          - att01: 15
            att02: 10
            att03: 0.72
            att04: 3.1
            att05: 3.05290403433784
            att06: 0.538309350767484
            att07: 0
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T02:00:00+00:00'
            target: 1882
          - att01: 13.9
            att02: 10
            att03: 0.78
            att04: 4.5
            att05: 3.4471999940354
            att06: 2.8925442435894304
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T03:00:00+00:00'
            target: 2810
          - att01: 14
            att02: 10
            att03: 0.78
            att04: 5.4
            att05: 4.13663999284248
            att06: 3.47105309230731
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T04:00:00+00:00'
            target: 3816
          - att01: 14
            att02: 10
            att03: 0.78
            att04: 5.4
            att05: 4.13663999284248
            att06: 3.47105309230731
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T05:00:00+00:00'
            target: 4561
          - att01: 14
            att02: 10
            att03: 0.78
            att04: 3.1
            att05: 0.538309350767484
            att06: 3.05290403433784
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T06:00:00+00:00'
            target: 5248
          - att01: 16
            att02: 11
            att03: 0.72
            att04: 2.2
            att05: 1.41413274131039
            att06: 1.68529777486175
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T07:00:00+00:00'
            target: 5488
          - att01: 18
            att02: 11
            att03: 0.65
            att04: 3.6
            att05: 0.625133439600949
            att06: 3.54530791084395
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T08:00:00+00:00'
            target: 5631
          - att01: 20
            att02: 12.2
            att03: 0.61
            att04: 3.1
            att05: 1.0602624443095698
            att06: 2.91304712443632
            att07: 0
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T09:00:00+00:00'
            target: 5645
          - att01: 22.2
            att02: 12.8
            att03: 0.55
            att04: 3.1
            att05: 0.538309350767484
            att06: 3.05290403433784
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T10:00:00+00:00'
            target: 6298
          - att01: 24
            att02: 14
            att03: 0.54
            att04: 3.6
            att05: 0.625133439600949
            att06: 3.54530791084395
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T11:00:00+00:00'
            target: 6756
          - att01: 25
            att02: 13
            att03: 0.47
            att04: 4.5
            att05: -0.7814167995011858
            att06: 4.431634888554941
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T12:00:00+00:00'
            target: 6365
          - att01: 26
            att02: 13
            att03: 0.44
            att04: 4
            att05: -3.46410161513775
            att06: 2
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T13:00:00+00:00'
            target: 6091
          - att01: 27
            att02: 12
            att03: 0.39
            att04: 4
            att05: -3.75877048314363
            att06: 1.36808057330268
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T14:00:00+00:00'
            target: 5895
          - att01: 25
            att02: 13
            att03: 0.47
            att04: 5.4
            att05: -4.67653718043597
            att06: 2.7
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T15:00:00+00:00'
            target: 5481
          - att01: 24
            att02: 13
            att03: 0.5
            att04: 3.6
            att05: -3.54530791084395
            att06: 0.625133439600949
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T16:00:00+00:00'
            target: 5123
          - att01: 23
            att02: 15
            att03: 0.62
            att04: 2.7
            att05: -2.5371700761219502
            att06: 0.9234543869793059
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T17:00:00+00:00'
            target: 3292
          - att01: 23
            att02: 15
            att03: 0.62
            att04: 4
            att05: -3.93923101204883
            att06: 0.694592710667721
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T18:00:00+00:00'
            target: 2160
          - att01: 22
            att02: 15
            att03: 0.64
            att04: 2.7
            att05: -2.5371700761219502
            att06: 0.9234543869793059
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T19:00:00+00:00'
            target: 2031
          - att01: 22
            att02: 16
            att03: 0.68
            att04: 3.1
            att05: -3.1
            att06: 3.7964050773567905e-16
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T20:00:00+00:00'
            target: 1862
          - att01: 22
            att02: 15
            att03: 0.64
            att04: 0
            att05: 0
            att06: 0
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T21:00:00+00:00'
            target: 1741
          - att01: 22
            att02: 16
            att03: 0.68
            att04: 2.2
            att05: -0.752444315316471
            att06: 2.067323765729
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T22:00:00+00:00'
            target: 1753
          - att01: 21
            att02: 16
            att03: 0.73
            att04: 1.3
            att05: -0.22574263096700894
            att06: 1.2802500789158702
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-01T23:00:00+00:00'
            target: 1819
          - att01: 20
            att02: 16
            att03: 0.78
            att04: 1.3
            att05: -0.995857776054671
            att06: 0.835623892592501
            att07: 0
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T00:00:00+00:00'
            target: 1862
          - att01: 18.9
            att02: 15
            att03: 0.78
            att04: 0.9
            att05: -0.845723358707318
            att06: 0.30781812899310196
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T01:00:00+00:00'
            target: 1886
          - att01: 18
            att02: 15
            att03: 0.84
            att04: 1.3
            att05: 1.22160040702168
            att06: 0.4446261863233689
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T02:00:00+00:00'
            target: 1929
          - att01: 18
            att02: 15
            att03: 0.84
            att04: 1.3
            att05: 0.22574263096701
            att06: 1.2802500789158702
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T03:00:00+00:00'
            target: 2779
          - att01: 17
            att02: 15
            att03: 0.87
            att04: 0
            att05: 0
            att06: 0
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T04:00:00+00:00'
            target: 3995
          - att01: 17
            att02: 16
            att03: 0.93
            att04: 1.3
            att05: -0.995857776054671
            att06: 0.835623892592501
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T05:00:00+00:00'
            target: 4565
          - att01: 18
            att02: 16
            att03: 0.9
            att04: 0
            att05: 0
            att06: 0
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T06:00:00+00:00'
            target: 5242
          - att01: 20
            att02: 16
            att03: 0.78
            att04: 0.9
            att05: 0.9
            att06: 0
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T07:00:00+00:00'
            target: 5722
          - att01: 22
            att02: 17
            att03: 0.73
            att04: 1.3
            att05: -1.12583302491977
            att06: -0.65
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T08:00:00+00:00'
            target: 6125
          - att01: 23
            att02: 17
            att03: 0.71
            att04: 1.3
            att05: -0.835623892592501
            att06: -0.995857776054671
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T09:00:00+00:00'
            target: 6281
          - att01: 25
            att02: 17
            att03: 0.62
            att04: 1.3
            att05: -0.995857776054672
            att06: -0.835623892592501
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T10:00:00+00:00'
            target: 6625
          - att01: 27
            att02: 16
            att03: 0.51
            att04: 1.3
            att05: 1.3
            att06: 0
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T11:00:00+00:00'
            target: 6749
          - att01: 28
            att02: 15
            att03: 0.46
            att04: 2.7
            att05: -1.35
            att06: -2.33826859021798
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T12:00:00+00:00'
            target: 6597
          - att01: 27.8
            att02: 15
            att03: 0.46
            att04: 1.3
            att05: 1.3
            att06: 0
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T13:00:00+00:00'
            target: 6454
          - att01: 28
            att02: 14
            att03: 0.43
            att04: 3.1
            att05: 1.55
            att06: -2.68467875173176
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T14:00:00+00:00'
            target: 6116
          - att01: 28
            att02: 14
            att03: 0.43
            att04: 2.7
            att05: 2.06831999642124
            att06: -1.7355265461536598
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T15:00:00+00:00'
            target: 5806
          - att01: 28
            att02: 14
            att03: 0.43
            att04: 2.7
            att05: 1.7355265461536598
            att06: -2.06831999642124
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T16:00:00+00:00'
            target: 5555
          - att01: 28
            att02: 14
            att03: 0.43
            att04: 1.3
            att05: 1.22160040702168
            att06: -0.4446261863233689
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T17:00:00+00:00'
            target: 3359
          - att01: 26
            att02: 15
            att03: 0.5
            att04: 1.3
            att05: 1.12583302491977
            att06: 0.65
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T18:00:00+00:00'
            target: 2190
          - att01: 24
            att02: 13
            att03: 0.5
            att04: 2.2
            att05: 1.68529777486175
            att06: 1.41413274131039
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T19:00:00+00:00'
            target: 2063
          - att01: 23
            att02: 15
            att03: 0.62
            att04: 2.2
            att05: 1.68529777486175
            att06: 1.41413274131039
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T20:00:00+00:00'
            target: 1930
          - att01: 23
            att02: 14
            att03: 0.57
            att04: 2.2
            att05: 0.382025990867247
            att06: 2.1665770566268603
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T21:00:00+00:00'
            target: 1854
          - att01: 23
            att02: 14
            att03: 0.57
            att04: 3.6
            att05: -1.2312725159724098
            att06: 3.38289343482927
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-02T22:00:00+00:00'
            target: 1841
    properties:
      GlobalParameters:
        $ref: '#/definitions/GlobalParameters_forecasting_createModel'
      Inputs:
        $ref: '#/definitions/ExecutionInputs_forecasting_createModel'
    title: Execution request
  ExecutionRequest_forecasting_getModelInformation:
    example:
      GlobalParameters: {}
      Inputs:
        modelID:
          - modelID: ''
    properties:
      GlobalParameters:
        $ref: '#/definitions/GlobalParameters_forecasting_getModelInformation'
      Inputs:
        $ref: '#/definitions/ExecutionInputs_forecasting_getModelInformation'
    title: Execution request
  ExecutionRequest_forecasting_updateModel:
    example:
      Inputs:
        additionalTrainingData:
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 4
            att05: 0.69459271066772
            att06: -3.93923101204883
            att07: 0.7
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T03:00:00+00:00'
            target: 1865
          - att01: 17.8
            att02: 17.2
            att03: 0.97
            att04: 2.7
            att05: -0.923454386979305
            att06: -2.5371700761219502
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T04:00:00+00:00'
            target: 1947
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.6
            att05: -1.8
            att06: -3.1176914536239795
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T05:00:00+00:00'
            target: 1788
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.1
            att05: -1.99264159002827
            att06: -2.37473777366883
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T06:00:00+00:00'
            target: 1727
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 3.6
            att05: -1.8
            att06: -3.1176914536239795
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T07:00:00+00:00'
            target: 1725
          - att01: 18
            att02: 17
            att03: 0.97
            att04: 2.7
            att05: -1.35
            att06: -2.33826859021798
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T08:00:00+00:00'
            target: 1732
          - att01: 19
            att02: 16
            att03: 0.84
            att04: 3.6
            att05: -2.75775999522832
            att06: -2.31403539487154
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T09:00:00+00:00'
            target: 1782
          - att01: 20
            att02: 15
            att03: 0.73
            att04: 4.5
            att05: -3.4471999940354
            att06: -2.8925442435894304
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T10:00:00+00:00'
            target: 1778
          - att01: 20
            att02: 14
            att03: 0.68
            att04: 6.3
            att05: -5.45596004384196
            att06: -3.15
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T11:00:00+00:00'
            target: 1815
          - att01: 21
            att02: 14
            att03: 0.64
            att04: 6.7
            att05: -5.802370205355741
            att06: -3.35
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T12:00:00+00:00'
            target: 1717
          - att01: 18
            att02: 16
            att03: 0.9
            att04: 6.7
            att05: -5.13249776889715
            att06: -4.30667698489981
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T13:00:00+00:00'
            target: 1752
          - att01: 20
            att02: 16
            att03: 0.78
            att04: 5.4
            att05: -4.67653718043597
            att06: -2.7
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T14:00:00+00:00'
            target: 1774
          - att01: 22
            att02: 16
            att03: 0.68
            att04: 4
            att05: -3.46410161513775
            att06: -2
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T15:00:00+00:00'
            target: 1812
          - att01: 22
            att02: 15
            att03: 0.64
            att04: 6.3
            att05: -5.45596004384196
            att06: -3.15
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T16:00:00+00:00'
            target: 1760
          - att01: 21
            att02: 14
            att03: 0.64
            att04: 6.7
            att05: -5.13249776889715
            att06: -4.30667698489981
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T17:00:00+00:00'
            target: 1750
          - att01: 18
            att02: 14
            att03: 0.78
            att04: 6.7
            att05: 2.29153496028198
            att06: -6.29594055926559
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T18:00:00+00:00'
            target: 1695
          - att01: 16
            att02: 13
            att03: 0.81
            att04: 3.6
            att05: 0.625133439600948
            att06: -3.54530791084395
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T19:00:00+00:00'
            target: 1725
          - att01: 15
            att02: 11
            att03: 0.78
            att04: 3.1
            att05: -1.0602624443095698
            att06: -2.91304712443632
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T20:00:00+00:00'
            target: 1718
          - att01: 15
            att02: 12
            att03: 0.84
            att04: 1.3
            att05: -0.835623892592501
            att06: -0.995857776054671
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T21:00:00+00:00'
            target: 1723
          - att01: 15
            att02: 11
            att03: 0.78
            att04: 2.7
            att05: -2.65898093313296
            att06: -0.468850079700712
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T22:00:00+00:00'
            target: 1703
          - att01: 16
            att02: 10
            att03: 0.67
            att04: 5.8
            att05: -3.7281681361819303
            att06: -4.44305777009007
            att07: 0.3
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-04T23:00:00+00:00'
            target: 1755
          - att01: 15
            att02: 9
            att03: 0.67
            att04: 5.8
            att05: -4.44305777009007
            att06: -3.7281681361819303
            att07: 0
            att08: NaN
            att09: NaN
            att10: NaN
            att11: NaN
            att12: NaN
            att13: NaN
            att14: NaN
            att15: NaN
            datetime: '2011-09-05T00:00:00+00:00'
            target: 1866
        modelID:
          - modelID: newModelIDString
    properties:
      GlobalParameters:
        $ref: '#/definitions/GlobalParameters_forecasting_updateModel'
      Inputs:
        $ref: '#/definitions/ExecutionInputs_forecasting_updateModel'
    title: Execution request
  ExecutionResults_forecasting_applyModel:
    properties:
      Results:
        $ref: '#/definitions/ExecutionOutputs_forecasting_applyModel'
    title: Execution Results
  ExecutionResults_forecasting_createModel:
    properties:
      Results:
        $ref: '#/definitions/ExecutionOutputs_forecasting_createModel'
    title: Execution Results
  ExecutionResults_forecasting_getModelInformation:
    properties:
      Results:
        $ref: '#/definitions/ExecutionOutputs_forecasting_getModelInformation'
    title: Execution Results
  ExecutionResults_forecasting_updateModel:
    properties:
      Results:
        $ref: '#/definitions/ExecutionOutputs_forecasting_updateModel'
    title: Execution Results
  GlobalParameters_forecasting_applyModel:
    description: ' The input is processed according to the following user-defined parameter:'
    properties:
      joinPredictionToData:
        default: true
        description: Defines whether or not the input data is included in the prediction output table.
        type: boolean
      maxPredictionBound:
        description: 'Optional maximum value for predictions. If this parameter is set to a non-null number, predictions that are above this value will be cropped to this value. For example use min_prediction_bound=0 to force all predictions to be negative.'
        format: double
        type: number
      minPredictionBound:
        description: 'Optional minimum value for predictions. If this parameter is set to a non-null number, predictions that are below this value will be cropped to this value. For example use min_prediction_bound=0 to force all predictions to be positive or zero.'
        format: double
        type: number
      realignForecastOnHorizon:
        default: false
        description: 'If True, the predicted columns will be aligned with the date it predicts. Otherwise, the predicted columns will be aligned with the date when the prediction was made.'
        type: boolean
    title: Global parameters definition
    type: object
  GlobalParameters_forecasting_createModel:
    description: 'The input is processed according to a set of user-defined parameters that describe the functioning of the service. '
    properties:
      datetimeName:
        description: Mandatory name of the time variable in the training data-frame.
        format: script
        type: string
      forecastDriverNames:
        description: 'semicolon separated list of column names that include the forecast drivers for the model. Values of these drivers are assumed to be known in advance (e.g. weather forecast). By default, no forecast drivers are used'
        format: script
        type: string
      forecastDriversPastSamplingPeriodMs:
        description: 'Size of the sampling period in milliseconds to use inside the sliding window for forecast drivers. This allows users to have large sliding windows (which capture higher system dynamics), while using only a few points inside it (which leads to faster and more robust models). Must be a multiple of the sampling period of the time series. By default, the sampling period is the sampling period the timeseries'
        type: integer
      forecastDriversPastWindowLengthMs:
        default: 0
        description: Sliding window (in milliseconds) to use for the forecast drivers. Must be a multiple of the sampling period of the time series.
        type: integer
      localTimeZone:
        description: 'Time zone (in Olson format) that should be applied  to determine any time-related information. ex: ''Europe/Paris''. By default, no time zone is informed. Must be set if useWeekendsAsDriver or usePublicHolidaysAsDriver or useTimeCyclesAsDrivers is true.'
        format: script
        type: string
      modelMaxDepth:
        description: 'Only for random_forest and M5P. Parameter of the model to use. If optimize_model_parameters is True, must be a semicolon-separated string with ints with at least 2 elements, else, must be int. Predefine value are : 5 or ''5;20'' for random_forest AND 100 or ''10;100'' for M5P'
        format: script
        type: string
      modelMinSamplesSplit:
        description: 'Only for random_forest and M5P. Parameter of the model to use. If optimize_model_parameters is True, must be a semicolon-separated string with ints with at least two elements, else, must be int. If set to None, predefine value are : 4 for random_forest AND 4 or ''4;20'' for M5P'
        format: script
        type: string
      modelNEstimators:
        description: 'Only for random_forest. Parameter of the model to use. If optimize_model_parameters is True, must be a semicolon-separated string with ints with at least two elements, else, must be int. Predefine value are : 100 or ''100;200'''
        format: script
        type: string
      modelType:
        default: M5P
        description: Describes the type of model to use.
        format: 'enum [linear_regression, random_forest, M5P]'
        type: string
      normalDriverNames:
        description: 'List of driver names that are used to build the forecasting model (semicolon-separated). By default, no normal drivers are used'
        format: script
        type: string
      normalDriversPastSamplingPeriodMs:
        description: 'Size of the sampling period in milliseconds to use inside the sliding window for normal drivers. This allows users to have large sliding windows (which capture higher system dynamics), while using only a few points inside it (which leads to faster and more robust models). Must be a multiple of the sampling period of the time series. By default, the sampling period is the sampling period the timeseries'
        type: integer
      normalDriversPastWindowLengthMs:
        default: 0
        description: Sliding window (in milliseconds) to use for the normal drivers. Must be a multiple of the sampling period of the time series.
        type: integer
      onIndicatorName:
        description: 'Name of the variable indicating if the process is working or not (set to 1 if the process is ON, or 0 if process if OFF). If an observation is defined OFF, it will not be considered in the learning process. Moreover, columns defined as process indicators cannot be used as drivers to build the forecasting model.'
        format: script
        type: string
      optimizeModelParameters:
        default: false
        description: 'This parameter is only configured for random forest models. If this boolean flag is set to true, the hyper-parameters will be optimized before the final model is created.'
        format: script
        type: boolean
      predictionTimeHorizonMs:
        description: Mandatory time delta in milliseconds between the prediction (t) and the prediction timestamp (t+delta). Must be a multiple of the sampling period.
        type: integer
      publicHolidayLocale:
        description: 'Defines the country and region from which the public holidays are considered in the model creation in ISO 3166 format. Ex : ''FR''. By default, no country is informed. This parameter must be set if usePublicHolidaysAsDriver is true.'
        format: script
        type: string
      speedStrategy:
        default: robust
        description: 'Parameter to increase the processing speed by reducing the number of learning observations. fast equals 1000 observations (i.e., sliding windows), medium refers to 10.000 observations (i.e., sliding windows), and a the complete training set is used to create the model if the parameters is set to robust.'
        format: 'enum [fast, medium, robust]'
        type: string
      targetName:
        description: Mandatory name of the target variable to forecast.
        format: script
        type: string
      testDataRatio:
        default: 0.2
        description: 'Data-ratio of the training set used for model validation. Once the performance is evaluated, the temporary model is thrown away and ALL data is used to create the model returned in the output.'
        format: double
        type: number
      testDataSelectionStrategy:
        description: DEPRECATED- Do not use
        format: 'enum [last, random]'
        type: string
      throwErrorOnMissingValues:
        default: false
        description: Boolean flag indicating if forecasting provider should throw error if training data includes missing data. By default this variable is set to true so that users become aware of the quality of their dataset.
        format: script
        type: boolean
      updateable:
        default: false
        description: When True it will store the training dataset with the model.  This is required to update the model with the updateModel service.  Note that putting this parameter to True might increase the response times of  the web service.
        format: script
        type: boolean
      useCrossValidationForPerformanceEvaluation:
        default: false
        description: 'If set to true, cross-validation is used for better performance estimates  instead of split validation. This is more time-consuming, as it corresponds  doing a split validation nb_folds time, where nb_folds=1/test_data_ratio.  Note that nb_folds is automatically rounded if 1/test_data_ratio is not  exactly an integer, and is correctly adjusted if speedStrategy is set  to fast or medium.'
        format: script
        type: boolean
      usePublicHolidaysAsDriver:
        default: false
        description: 'Adds a new variable TimeDescriptors_publicHoliday to the dataset. The values equal 1 during the public holidays, or 0 otherwise. The national holidays of different countries and regions are defined by the publicHolidayLocale parameter. '
        format: script
        type: boolean
      useTargetAsNormalDriver:
        default: true
        description: 'If True the past values of the target until time t will be used as a normal driver to predict the future value. If False, they will not be used.'
        format: script
        type: boolean
      useTimeCyclesAsDrivers:
        default: false
[...]
