body {
    margin: 0;
    padding: 0;
}
h2 {
    color: white;
    text-transform: uppercase;
}

.search-submit {
    float: right;
    margin-top: 20px;
    background: #EE5766;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    height: 30px;
    border: none;
}

.footer {
    padding: 0 15%;
    background: #414141;
    color: #EE5766;
    height: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.genre {
    text-transform: capitalize;
}